.features {
  grid-column: 3 / 11;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;

  @media only screen and (max-width: $bp-large) {
    grid-column: 2 / 10;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 10rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 7rem 0;
  }
}
