.features {
  grid-column: 3 / 11;
  padding: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;

  // 1000px
  @media only screen and (max-width: $bp-large) {
    grid-column: 2 / 10;
  }

  // 800px
  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 0;
  }

  // 600px
  @media only screen and (max-width: $bp-small) {
    padding: 7rem 0;
  }
}
